<!DOCTYPE html>
<html>
<head>
  <title>React JWT Example</title>
  <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <div id="root"></div>
  <script type="text/babel">
    class Login extends React.Component {
      constructor(props) {
        super(props);
        this.state = { userId: '', password: '' };
      }

      handleChange = (event) => {
        this.setState({ [event.target.name]: event.target.value });
      }

      handleSubmit = () => {
        axios.post('/login', { user_id: this.state.userId, password: this.state.password })
          .then(response => {
            const token = response.data.token;
            console.log('JWT Token:', token);
            // Przechowaj token w localStorage lub sessionStorage
            localStorage.setItem('jwtToken', token);
          })
          .catch(error => {
            console.error('Login error:', error);
          });
      }

      render() {
        return (
          <div>
            <input type="text" name="userId" value={this.state.userId} onChange={this.handleChange} placeholder="User ID" />
            <input type="password" name="password" value={this.state.password} onChange={this.handleChange} placeholder="Password" />
            <button onClick={this.handleSubmit}>Login</button>
          </div>
        );
      }
    }

    ReactDOM.render(<Login />, document.getElementById('root'));
  </script>
</body>
</html>