#chat-form button {
    font-size: large;
 }
 
 #prompt {
   font-size: large;
    /* Rozmiar czcionki w polu tekstowym */
    padding: 10px;
 }
 
 #chat-bubble {
    position: fixed;
    bottom: 60px;
    right: 60px;
    width: 30vw;
    height: 80vh;
    border: 1px solid #2c2d2e;
    border-radius: 10px;
    background-color: rgb(238, 238, 241);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    visibility: hidden;
    /* Dodano, aby uporządkować layout */
 }
 
 #chat-bubble-header {
    background-color: #2c2d2e;
    color: white;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    font-size: large;
 }
 
 #chat-bubble-body {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    font-size: large;
 }
 
 #chat-history {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: large;
    overflow: hidden;
 }
 
 #chat-form {
    border-top: 1px solid #2c2d2e;
    padding: 10px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    font-size: large;
 }
 
 #chat-toggle-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #2c2d2e;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 56px;
    cursor: pointer;
    z-index: 1000;
    font-size: large;
 }