#chat-form button {
   font-size: xx-large;
}

#prompt {
   font-size: xx-large;
   /* Rozmiar czcionki w polu tekstowym */
   padding: 10px;
}

#chat-bubble {
   margin-right: 30px;
   width: 80vw;
   /* Minimalna, preferowana, maksymalna szerokość */
   height: 81vh;
   /* Minimalna, preferowana, maksymalna wysokość */
   position: fixed;
   top: 80px;
   /* Przesunięcie pod menu */
   right: 60px;
   border: 1px solid #ccc;
   border-radius: 10px;
   background-color: white;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   display: flex;
   flex-direction: column;
   visibility: hidden;
   /* Domyślnie ukryte */
   z-index: 1000;
   /* Aby zawsze było nad innymi elementami */
}


#chat-bubble-header,
#chat-bubble-body,
#chat-form,
#prompt,
#chat-form button {
   font-size: clamp(14px, 2vw, 24px);
   /* Minimalna czcionka: 14px, preferowana: 2vw, maksymalna: 24px */
}

#chat-bubble-header {
   background-color: #007bff;
   color: white;
   padding: 10px;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   cursor: pointer;
   font-size: xx-large;
}

#chat-bubble-body {
   flex: 1;
   overflow-y: auto;
   padding: 10px;
   font-size: xx-large;
}

#chat-history {
   display: flex;
   flex-direction: column;
   width: 100%;
   font-size: xx-large;
   overflow: hidden;
}

#chat-form {
   border-top: 1px solid #ccc;
   padding: 10px;
   background-color: #f9f9f9;
   display: flex;
   flex-direction: column;
   font-size: xx-large;
}

#chat-toggle-button {
   position: fixed;
   bottom: 20px;
   /* Odsunięcie od dolnej krawędzi */
   right: 20px;
   /* Odsunięcie od prawej krawędzi */
   background-color: #007bff;
   color: white;
   border: none;
   border-radius: 50%;
   /* Okrągły przycisk */
   cursor: pointer;
   z-index: 1100;
   /* Wyższy niż chat-bubble, aby zawsze było widoczne */
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   width: 90px;
   /* Wielkość przycisku */
   height: 90px;
   /* Wielkość przycisku */
   font-size: 24px;
   /* Rozmiar ikony */
}

/* Responsywne dopasowanie dla małych ekranów */
@media (max-width: 767px) {
   #chat-bubble {
      margin-right: 50px;
      width: 80vw;
      height: 78.5vh;
      bottom: 100px;
      /* Więcej miejsca nad przyciskiem */
      right: 10px;
   }

   #chat-toggle-button {
      width: 80px;
      height: 80px;
      bottom: 10px;
      /* Zmniejszenie odległości od dolnej krawędzi */
      right: 10px;
      font-size: 20px;
   }
}

.navbar {
   background-color: #f9f9fc !important;
}

.navbar-nav {
   display: flex;
   width: 75%;
   gap: 5px;
}

.nav-item {
   flex: 1;
   text-align: center;
}

.navbar-brand {
   font-weight: 500;
   transform-origin: left center;
}

@media (min-width: 1200px) {
   .navbar-brand {
      font-size: 32px;
      /* Na dużych ekranach */
   }
}

@media (min-width: 768px) and (max-width: 1199px) {
   .navbar-brand {
      font-size: 24px;
      /* Na średnich ekranach */
   }
}

@media (max-width: 767px) {
   .navbar-brand {
      font-size: 18px;
      /* Na małych ekranach */
   }
}

.nav-link {
   transform: scale(1.1);
   transform-origin: left center;
}

.navbar-nav {
   padding-left: 50px;
   font-size: xx-large;
}

.navbar-nav .nav-item {
   margin: 0 35px;
}

.nav-link.active {
   border-bottom: 2px solid #007bff;
}