<!DOCTYPE html>
<html>
<head>
  <title>Helpdesk Panel</title>
  <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <div id="root"></div>
  <script type="text/babel">
    class App extends React.Component {
      constructor(props) {
        super(props);
        this.state = {
          userId: '',
          password: '',
          description: '',
          problems: [],
          token: ''
        };
      }

      handleChange = (event) => {
        this.setState({ [event.target.name]: event.target.value });
      }

      handleLogin = () => {
        axios.post('/login', { user_id: this.state.userId, password: this.state.password })
          .then(response => {
            const token = response.data.token;
            this.setState({ token });
            localStorage.setItem('jwtToken', token);
            this.fetchProblems();
          })
          .catch(error => {
            console.error('Login error:', error);
          });
      }

      handleReport = () => {
        axios.post('/report', { description: this.state.description }, {
          headers: { 'Authorization': `Bearer ${this.state.token}` }
        })
          .then(response => {
            this.fetchProblems();
          })
          .catch(error => {
            console.error('Report error:', error);
          });
      }

      fetchProblems = () => {
        axios.get('/problems', {
          headers: { 'Authorization': `Bearer ${this.state.token}` }
        })
          .then(response => {
            this.setState({ problems: response.data });
          })
          .catch(error => {
            console.error('Fetch problems error:', error);
          });
      }

      handleResolve = (problemId) => {
        axios.post(`/problems/${problemId}/resolve`, {}, {
          headers: { 'Authorization': `Bearer ${this.state.token}` }
        })
          .then(response => {
            this.fetchProblems();
          })
          .catch(error => {
            console.error('Resolve error:', error);
          });
      }

      render() {
        return (
          <div>
            <h2>Login</h2>
            <input type="text" name="userId" value={this.state.userId} onChange={this.handleChange} placeholder="User ID" />
            <input type="password" name="password" value={this.state.password} onChange={this.handleChange} placeholder="Password" />
            <button onClick={this.handleLogin}>Login</button>

            <h2>Report a Problem</h2>
            <input type="text" name="description" value={this.state.description} onChange={this.handleChange} placeholder="Problem Description" />
            <button onClick={this.handleReport}>Report</button>

            <h2>Problems</h2>
            <ul>
              {this.state.problems.map(problem => (
                <li key={problem.id}>
                  {problem.description} - {problem.status}
                  {problem.status === 'open' && <button onClick={() => this.handleResolve(problem.id)}>Resolve</button>}
                </li>
              ))}
            </ul>
          </div>
        );
      }
    }

    ReactDOM.render(<App />, document.getElementById('root'));
  </script>
</body>
</html>