<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ lesson.title }}</title>
    <!-- Link do Bootstrapa -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Link do własnych stylów -->
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header class="my-4 text-center">
            <h1>{{ lesson.title }}</h1>
            <nav>
                <a href="{{ url_for('index') }}" class="btn btn-primary m-2">Strona Główna</a>
                <a href="{{ url_for('contact') }}" class="btn btn-secondary m-2">Kontakt</a>
            </nav>
        </header>

        <section>
            <h2>Opis lekcji:</h2>
            <p>{{ lesson.description }}</p>
            <h3>Treść lekcji:</h3>
            <p>Podstawy obsługi komputera...</p>
        </section>
    </div>
</body>
</html>
