#chat-form button {
    font-size: xx-large;
}

#prompt {
    font-size: xx-large;
    /* Rozmiar czcionki w polu tekstowym */
    padding: 10px;
}

#chat-bubble {
    position: fixed;
    bottom: 60px;
    right: 60px;
    width: 75vw;
    height: 75vh;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    visibility: hidden;
    /* Dodano, aby uporządkować layout */
}

#chat-bubble-header {
    background-color: #b0aeb3; /* Kolor tła nagłówka */
    color: white; /* Kolor tekstu nagłówka */
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    cursor: pointer;
    font-size: xx-large;
}

#chat-bubble-body {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    font-size: xx-large;
}

#chat-history {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: xx-large;
    overflow: hidden;
}

#chat-form {
    border-top: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    font-size: xx-large;
}

#chat-toggle-button {
    background-color: #767776; /* Kolor tła przycisku */
    color: white; /* Kolor tekstu przycisku */
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

#chat-toggle-button:hover {
    background-color: #b0aeb3; /* Kolor tła przycisku po najechaniu */
}

.user-message {
    background-color: #555551; /* Kolor tła dla wiadomości użytkownika */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.bot-response {
    background-color: #f1f8e9; /* Kolor tła dla odpowiedzi bota */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}