body {
    background-color: #f8f9fa;
    font-size: 18px;  /* Powiększenie czcionki */
    line-height: 1.5;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    font-size: 24px;  /* Większa czcionka w nagłówkach */
}

footer {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
}

h1, h2, h3 {
    font-size: 28px;  /* Duże nagłówki */
}

h5 {
    font-size: 24px;  /* Większe czcionki dla tytułów lekcji */
}

p {
    font-size: 20px;  /* Powiększenie czcionki dla treści */
}

.btn {
    font-size: 20px;  /* Większe przyciski */
    padding: 10px 20px;
}
